@keyframes antrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_header {
  background: #e9e9e95b;
  border-radius: 50px;
  cursor: pointer;
  padding: 2px;
  margin: 4px 50px 50px 50px;
  animation: antrance 1s ease-in;
}
.menuMobile {
  display: none;
}
.headerMain ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}

.headerMain ul li {
  margin-left: 8px;
  padding: 20px;
  color: #fffefa;
}

.headerMain ul li a {
  text-decoration: none;
  color: #fffefa;
  margin-left: 8px;
}

.headerMain ul li a:hover {
  transition: 0.5s;
  color: #32523f;
}

.headerMain ul li a.activeLink {
  color: #32523f;
}

@media (max-width: 800px) {
  ul {
    background: linear-gradient(45deg, #2caa52d8, #3598a5);
  }
  ul li:hover {
    background: #d5ffe63f;
  }

  .menuMobile {
    display: block;
    margin: 0 8px;
    border: none;
    border: 1px solid #fffefa;
    background: #fdfdfd3f;
    padding: 8px;
    font: bold;
    font-weight: bold;
    color: #fffefa;
  }

  .main_header {
    background: transparent;
  }

  @keyframes scale {
    from {
      transform: scale(0.9);
    }

    to {
      transform: scale(1);
    }
  }

  .headerMain {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    background: transparent;
    z-index: 9999;
    border-radius: 8px;
    animation: scale 0.3s ease-in-out;
  }
  .hidden {
    display: none;
  }
  ul {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    padding: 10px;
    color: #fffefa;
  }
}
